<a href="https://colab.research.google.com/github/kudzaichikwatu/r-markdown/blob/main/KVMC_Python_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My first python assignment

In [ ]:
"""
first code will look at strings
second code will do calculations
third code will do data importation
"""

'\nfirst code will look at strings\nsecond code will do calculations\nthird code will do data importation\n'

# First Code

In [ ]:
my_name = 'Kudzai Vanessa Modesta Chikwatu'
print (my_name)

Kudzai Vanessa Modesta Chikwatu

In [ ]:
name_string = ['Kudzai', 'Vanessa', 'Modesta', 'Chikwatu']
print (name_string)

['Kudzai', 'Vanessa', 'Modesta', 'Chikwatu']

# Second Code

In [ ]:
def add_numbers(num1,num2,num3):
  return num1 + num2 + num3

In [ ]:
add_numbers(7,3,10)

20

In [ ]:
add_numbers(-90,120,50)

80

#  Third Code

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/alcohol.csv')

In [ ]:
df.head(4)

  Series_reference   Period  ...  Series_title_4 Series_title_5
0          ALCA.S1  1935.12  ...             NaN            NaN
1          ALCA.S1  1936.12  ...             NaN            NaN
2          ALCA.S1  1937.12  ...             NaN            NaN
3          ALCA.S1  1938.12  ...             NaN            NaN

[4 rows x 13 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11424 entries, 0 to 11423
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Series_reference  11424 non-null  object
 1   Period            11424 non-null  float64
 2   Data_value        11419 non-null  float64
 3   STATUS            11424 non-null  object
 4   UNITS             11424 non-null  object
 5   MAGNTUDE          11424 non-null  int64
 6   Subject           11424 non-null  object
 7   Group             11424 non-null  object
 8   Series_title_1    11424 non-null  object
 9   Series_title_2    0 non-null      float64
 10  Series_title_3    0 non-null      float64
 11  Series_title_4    0 non-null      float64
 12  Series_title_5    0 non-null      float64
dtypes: float64(6), int64(1), object(6)
memory usage: 1.1+ MB

In [ ]:
"""
first code will look at strings
second code will do calculations
third code will do data importation
"""

'\nfirst code will look at strings\nsecond code will do calculations\nthird code will do data importation\n'

# First Code

In [ ]:
my_name = 'Kudzai Vanessa Modesta Chikwatu'
print (my_name)

Kudzai Vanessa Modesta Chikwatu

In [ ]:
name_string = ['Kudzai', 'Vanessa', 'Modesta', 'Chikwatu']
print (name_string)

['Kudzai', 'Vanessa', 'Modesta', 'Chikwatu']

# Second Code

In [ ]:
def add_numbers(num1,num2,num3):
  return num1 + num2 + num3

In [ ]:
add_numbers(7,3,10)

20

In [ ]:
add_numbers(-90,120,50)

80